@model SkolSystem.Models.RegistreringViewModel
<!--model IEnumerable<SkolSystem.Models.RegistreringViewModel>-->

@{
    ViewData["Title"] = "SelectElevAndKurs";
}

<h1>SelectElev</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Fornamn</th>
            <th>Efternamn</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ElevDetails)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.El_Id)</td>
                <td>@Html.DisplayFor(modelItem => item.El_Fornamn)</td>
                <td>@Html.DisplayFor(modelItem => item.El_Efternamn)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /*id = item.El_Id */}) |
                    @Html.ActionLink("Details", "Details", new {/* id = item.El_Id */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id = item.El_Id */})
                </td>
            </tr>
        }
    </tbody>
</table>

<p></p>
<p></p>

<select id="El_Id" name="El_Fornamn">
@foreach (var item in Model.ElevDetails)
    {
        <option value="@Html.DisplayFor(modelItem => item.El_Id)">
            @Html.DisplayFor(modelItem => item.El_Fornamn)
        </option>
    }
</select>

<p></p>
<p></p>

<table class = "table">
<thead>
    <tr>
        <th>Fornamn</th>
        <th>Efternamn</th>
        <th>Kurs</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.RegistreringDetails)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.El_Fornamn)</td>
            <td>@Html.DisplayFor(modelItem => item.El_Efternamn)</td>
            <td>@Html.DisplayFor(modelItem => item.Ku_Namn)</td>
             <td>
                    @Html.ActionLink("Edit", "Edit", new { /*id = item.El_Id */}) |
                    @Html.ActionLink("Details", "Details", new {/* id = item.El_Id */}) |
                    @Html.ActionLink("Delete", "Delete", new {/* id = item.El_Id */})
                </td>
        </tr>
    }
    </tbody>
</table> 