@model SkolSystem.Models.RegistreringViewModel
<!--model IEnumerable<SkolSystem.Models.RegistreringViewModel>-->

@{
    ViewData["Title"] = "SelectElevAndKurs";
}


<form action="SelectElevAndKurs" method="get">
<select id="Ku_Namn" name="valdKurs">
@foreach (var item in ViewBag.Kurser)
    {
        <option value=@item>@item</option>
    }
</select>
<button type="submit" class="btn btn-primary">Välj kurs</button>
</form>

<p></p>
<p></p>

<table class = "table">
<thead>
    <tr>
        <th>Fornamn</th>
        <th>Efternamn</th>
        <th>Kurs</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.RegistreringDetails)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.El_Fornamn)</td>
            <td>@Html.DisplayFor(modelItem => item.El_Efternamn)</td>
            <td>@Html.DisplayFor(modelItem => item.Ku_Namn)</td>
             <td>
                    @Html.ActionLink("Edit", "Edit", new { /*id = item.El_Id*/ }) |
                    @* @Html.ActionLink("Details", "Details", new {/* id = item.El_Id */}) | *@
                    @Html.ActionLink("Delete", "DeleteElev", new {/*id = item.El_Id*/})
                </td>
        </tr>
    }
    </tbody>
</table> 